<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="attachMapper">
	<resultMap type="AttachDto" id="attachResult" extends="commonMapper.commonResult">
		<id column="FILE_NO" property="fileNo"/>
		<result column="REF_NO" property="refNo"/>
		<result column="REF_CATEGORY" property="refCategory"/>
		<result column="ORIGIN_NAME" property="originName"/>
		<result column="FILESYSTEM_NAME" property="filesystemName"/>
		<result column="FILE_PATH" property="filePath"/>
	</resultMap>
	
	<!-- 첨부파일 인서트용 쿼리 -->
	<!-- 구성모 refType별로 수정 -->
	<insert id="insertAttach">
		INSERT
		  INTO TB_ATTACHMENT
		  (
		    FILE_NO
		  , REF_CATEGORY
		  , ORIGIN_NAME
		  , FILESYSTEM_NAME
		  , FILE_PATH
		  , REG_ID
		  , MOD_ID
		  , REF_NO
		  )
		  VALUES
		  (
		    SEQ_ATTACHMENT.NEXTVAL
		  , #{refCategory}
		  , #{originName}
		  , #{filesystemName}
		  , #{filePath}
		  , #{regId}
		  , #{modId}
		  <choose>
  			<when test="refNo == 0">
  				<choose>
  					<when test='refCategory == "B"'>
		  				, seq_boardno.currval					
  					</when>
  					<when test='refCategory == "E"'>
  						, seq_edoc.currval
  					</when>
  					<when test='refCategory == "M"'>
  						, seq_mailno.currval
  					</when>
  				</choose>
  			</when>
  			<otherwise>
		  		, #{refNo}
  			</otherwise>
  		</choose>
		  )
	</insert>
	
	<!-- 첨부파일 조회용 쿼리 -->
	<select id="selectAttach" resultMap="attachResult">
		SELECT
		       FILE_NO
		     , ORIGIN_NAME
		     , FILESYSTEM_NAME
		     , FILE_PATH
		  FROM TB_ATTACHMENT
		 WHERE DEL_YN = 'N'
		   AND REF_CATEGORY = #{refCategory}
		   AND REF_NO = #{refNo}
	</select>

	<!-- 첨부파일 삭제용 쿼리 -->
	<delete id="deleteAttach">
		DELETE
		  FROM TB_ATTACHMENT
		 <where>
		 	<foreach item="item" collection="array"
		 			 open="FILE_NO IN (" separator="," close=")">
		 		#{item}
		 	</foreach>
		 </where>
	</delete>
	
	<select id="selectDelFileList" resultMap="attachResult">
  	select
  				 file_no
  			 , file_path
  			 , filesystem_name
  			 , origin_name
  	from tb_attachment
   <where>
   	<foreach item="item" collection="array"
   					 open="file_no in (" separator="," close=")">
   		#{item}
   	</foreach>
   </where>
  </select>
  
  <select id="selectDelBoardFileNo" resultType="String">
  	select
  			  file_no
  	from tb_attachment
   where ref_no = #{no}
   	 and ref_category = 'B'
  </select>
  
  <select id="selectDelMailFileNo" resultType="String">
  	select
  			  file_no
  	from tb_attachment
   where ref_no = #{no}
   	 and ref_category = 'M'
  </select>
	
</mapper>
