<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="attemdamceDaoMapper">
	<resultMap type="AttemdamceDto" id="attemdamceResult" extends="commonMapper.commonResult">
		<id column="ATTENDANCE_NO" property="attNo"/>
		<result column="USER_ID" property="userId"/>
		<result column="START_DTIME" property="startDtime"/>
		<result column="END_DTIME" property="endDtime"/>
	</resultMap>
	
	<select id="selectCheckIn" resultType="_int">
		SELECT
		       COUNT(*)
		  FROM TB_ATTENDANCE
		 WHERE USER_ID = #{userId}
		   AND TO_CHAR(START_DTIME, 'YYYY-MM-DD') = TO_CHAR(SYSDATE, 'YYYY-MM-DD')
	</select>
	
	<insert id="checkInAtt">
		INSERT
		  INTO TB_ATTENDANCE
		  (
		  	ATTENDANCE_NO
		  , USER_ID
		  , START_DTIME
		  , END_DTIME
		  , REG_ID
		  , MOD_ID
		  )
		  VALUES
		  (
		  	SEQ_ATTENDANCE.NEXTVAL
		  , #{userId}
		  , SYSDATE
		  , NULL
		  , #{userId}
		  , #{userId}
		  )
	</insert>

	<insert id="checkOutAtt">
	
	</insert>
</mapper>
