<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="boardMapper">

	<resultMap id="boardResult" type="BoardDto" extends="commonMapper.commonResult">
		<id column="board_no" property="boardNo" />
		<result column="board_category" property="boardCategory" />
		<result column="board_title" property="boardTitle" />
		<result column="board_content" property="boardContent" />
		<result column="count" property="count" />
		<result column="temp_save" property="tempSave" />
		<result column="notice_yn" property="noticeYN" />
		<result column="char_date" property="charDate" />
		<result column="category_type" property="boardType" />
		<result column="category_name" property="categoryName" />
		<result column="user_name" property="userName" />
		<result column="sub_name" property="position" />
		
		
		<collection resultMap="attachMapper.attachResult" property="attachList" />
	</resultMap>

	<resultMap id="categoryResult" type="BoardCategoryDto" extends="commonMapper.commonResult">
		<id column="board_category" property="boardCategory" />
		<result column="category_name" property="categoryName" />
		<result column="dept_code" property="deptCode" />
		<result column="category_type" property="categoryType" />
	</resultMap>
	
	<resultMap id="authResult" type="BoardAuthDto" extends="commonMapper.commonResult">
		<id column="user_id" property="userId" />
		<result column="board_category" property="boardCategory" />
		<result column="read_yn" property="readYN" />
		<result column="write_yn" property="writeYN" />
		<result column="user_name" property="userName"/>
		<result column="sub_name" property="subName"/>
		<result column="dept_title" property="deptTitle"/>
		<result column="board_right" property="boardRight"/>
	</resultMap>
	
	<resultMap id="replyResultMap" type="ReplyDto" extends="commonMapper.commonResult">
		<id column="reply_no" property="replyNo" />
		<result column="reply_content" property="replyContent" />
		<result column="ref_no" property="refNo" />
		<result column="user_name" property="userName" />
		<result column="sub_name" property="position" />
	</resultMap>
	
	<select id="selectBoardCategory" resultMap="categoryResult">
		select 
      BOARD_CATEGORY
    , CATEGORY_NAME
    , DEPT_CODE
    , CATEGORY_TYPE
    , REG_ID
	from tb_category c
	    where
	    del_yn ='N'
	    and CATEGORY_TYPE not in ('COMPANY')
    <if test='superRight != "Y" and boardRight != "Y"'>
	    and   (case 
	            WHEN C.CATEGORY_TYPE = 'DEPT' AND c.dept_code = #{deptCode} THEN 'Y'
	            WHEN C.CATEGORY_TYPE = 'NORMAL' 
	                AND (SELECT COUNT(1) FROM BOD_AUTH a
	                WHERE a.BOARD_CATEGORY = c.BOARD_CATEGORY
	                AND USER_ID = #{userId}
	                AND READ_YN = 'Y') > 0 THEN 'Y'
	            ELSE 'N'
	        END) = 'Y'
    </if>
    	order by dept_code
	</select>
	
	<select id="selectBoardListCount" resultType="_int">
  	select count(*) 
  	  from tb_board
  	 where 
  	 			del_yn = 'N'
  	 	 <if test='boardCategory != "CATEGORY-8"'>
		    		and notice_yn = 'N'
	    	</if>
  	  and board_category = #{boardType}
  	  and temp_save = '02'
  </select>
  
  <select id="selectWriteCategory" resultMap="categoryResult">
		select 
      BOARD_CATEGORY
    , CATEGORY_NAME
    , DEPT_CODE
    , CATEGORY_TYPE
	from tb_category c
	    where
	    del_yn ='N'
	    and CATEGORY_TYPE not in ('COMPANY')
    <if test='superRight != "Y" and boardRight != "Y"'>
	    and   (case 
	            WHEN C.CATEGORY_TYPE = 'DEPT' AND c.dept_code = #{deptCode} THEN 'Y'
	            WHEN C.CATEGORY_TYPE = 'NORMAL' 
	                AND (SELECT COUNT(1) FROM BOD_AUTH a
	                WHERE a.BOARD_CATEGORY = c.BOARD_CATEGORY
	                AND USER_ID = #{userId}
	                AND WRITE_YN = 'Y') > 0 THEN 'Y'
	            ELSE 'N'
	        END) = 'Y'
    </if>
    	order by dept_code
	</select>
  
  <select id="selectSearchListCount" resultType="_int">
  	select count(*) 
  	  from tb_board b
  	  join tb_member m on (b.reg_id = user_id)
  	 where b.del_yn = 'N'
  	 	 <if test='boardType != "CATEGORY-8"'>
		    		and b.notice_yn = 'N'
		   </if>
  	 	 and ${condition} like '%' || #{keyword} || '%'
  	 	 and board_category = #{boardType}
  </select>
  
   <select id="selectTempSaveListCount" resultType="_int">
  	select count(*) 
  	  from tb_board
  	 where 
  	 			del_yn = 'N'
  	 	and temp_save = '01'
  	  and reg_id = #{userId}
  </select>
  
  <select id="selectTrashListCount" resultType="_int">
  	select count(*) 
  	  from tb_board
  	 where 
  	 			del_yn = 'Y'
  	  and reg_id = #{userId}
  </select>
	
	<select id="selectBoardList" resultMap="boardResult">
  	SELECT 
	    b.board_no,
	    b.board_category,
	    b.board_title,
	    b.reg_id,
	    b.count,
	    b.notice_yn,
	    TO_CHAR(b.mod_date, 'YYYY-MM-DD') AS mod_date,
	    c.category_type,
	    m.user_name,
  		c.sub_name
		FROM 
		    tb_board b
		JOIN 
		    tb_category c ON b.board_category = c.board_category
		JOIN
				tb_member m on b.reg_id = user_id
		JOIN 
				tb_common c on (c.sub_code = m.rank_scode)
		WHERE 
		    b.del_yn = 'N'
		    and b.temp_save = '02'
		    and c.main_code = '007-'
		    and b.board_category = #{boardType}
		    	<if test='boardCategory != "CATEGORY-8"'>
		    		and b.notice_yn = 'N'
		    	</if>
		ORDER BY 
		    b.board_no DESC
  </select>
  
  <select id="selectSearchList" resultMap="boardResult">
  	SELECT 
	    b.board_no,
	    b.board_category,
	    b.board_title,
	    b.reg_id,
	    b.count,
	    b.notice_yn,
	    TO_CHAR(b.mod_date, 'YYYY-MM-DD') AS mod_date,
	    c.category_type,
	    m.user_name,
  		c.sub_name
		FROM 
		    tb_board b
		JOIN 
		    tb_category c ON b.board_category = c.board_category
		JOIN
				tb_member m on b.reg_id = user_id
		JOIN 
				tb_common c on (c.sub_code = m.rank_scode)
		WHERE 
		    b.del_yn = 'N'
		    and b.temp_save = '02'
		    and c.main_code = '007-'
		    and ${condition} like '%' || #{keyword} || '%'
		    and b.board_category = #{boardType}
		    	<if test='boardType != "CATEGORY-8"'>
		    		and b.notice_yn = 'N'
		    	</if>
		ORDER BY 
		    b.board_no DESC
  </select>
  
  <select id="selectNoticeBoardList" resultMap="boardResult">
  	SELECT 
	    b.board_no,
	    b.board_category,
	    b.board_title,
	    b.reg_id,
	    b.count,
	    b.notice_yn,
	    TO_CHAR(b.mod_date, 'YYYY-MM-DD') AS mod_date,
	    c.category_type,
	    m.user_name,
  		c.sub_name
		FROM 
		    tb_board b
		JOIN 
		    tb_category c ON b.board_category = c.board_category
		JOIN
				tb_member m on b.reg_id = user_id
		JOIN 
				tb_common c on (c.sub_code = m.rank_scode)
		WHERE 
		    b.del_yn = 'N'
		    and c.main_code = '007-'
		    and b.notice_yn = 'Y'
		    and b.temp_save = '02'
		    and b.board_category = #{boardType}
		ORDER BY 
		    b.board_no DESC
  </select>
  
  <insert id="insertBoard">
  	insert
  		into tb_board
  		(
  			board_no
  		, board_category
  		, board_title
  		, board_content
  		, temp_save
  		, notice_yn
  		, reg_id
  		, mod_id
  		)
  		values
  		(
  			seq_boardno.nextval
  		, #{boardCategory}
  		, #{boardTitle}
  		, #{boardContent}
  		, #{tempSave}
  		, #{noticeYN}
  		, #{regId}
  		, #{modId}
  		)
  </insert>
  
  <update id="updateIncreaseCount">
  	update
  				tb_board
 			set count = count+1
 			where board_no = #{no}
  </update>
  
  <select id="selectBoard" resultMap="boardResult">
  select
        board_no
      , board_title
      , b.reg_id
      , board_content
      , board_category
      , user_name
      , sub_name
      , notice_yn
      , to_char(b.mod_date, 'YYYY-MM-DD') char_date
      , file_no
      , file_path
      , filesystem_name
      , origin_name
	  from tb_board b
	  left join tb_attachment on (ref_category ='B' and ref_no = board_no)
	  join tb_member m on(b.reg_id = user_id)
    join tb_common c on (c.sub_code = m.rank_scode)
	 where b.del_yn ='N'
	   and board_no = #{no}
	   and c.main_code = '007-'
  </select>
  
  <update id="updateBoard">
  	update
  				tb_board
			 set
			     board_category = #{boardCategory} 
			 	 , board_title= #{boardTitle}
			   , notice_yn = #{noticeYN}
			   , board_content = #{boardContent}
			   , mod_id = #{modId}
			   , temp_save = #{tempSave}
		 where board_no = #{boardNo} 
  </update>
  
  <select id="selectTempSaveList" resultMap="boardResult">
  	SELECT 
	    b.board_no,
	    b.board_category,
	    c.category_name,
	    b.board_title,
	    TO_CHAR(b.mod_date, 'YYYY-MM-DD') AS mod_date,
	    c.category_type
		FROM 
		    tb_board b
		JOIN 
		    tb_category c ON b.board_category = c.board_category
		WHERE 
		    b.del_yn = 'N'
		    and b.temp_save = '01'
		    and b.reg_id = #{userId}
		ORDER BY 
		    b.board_no DESC
  </select>
	
  <update id="deleteBoard">
     UPDATE tb_board
     SET del_yn = 'Y'
     WHERE board_no IN
     <foreach item="item" collection="list" open="(" separator="," close=")">
         #{item}
     </foreach>
  </update>
  
  <select id="selectCurrnetTempSave" resultType="_int">
  	select
  	 	seq_boardno.currval
		from dual
  </select>
  
  <delete id="removeBoardList">
     delete
		  FROM tb_board
		  where board_no in
			  <foreach item="item" collection="list" open="(" separator="," close=")">
	          #{item}
	      </foreach>
  </delete>
  
  <select id="selectTrashList" resultMap="boardResult">
  	SELECT 
	    b.board_no,
	    b.board_category,
	    c.category_name,
	    b.board_title,
	    TO_CHAR(b.mod_date, 'YYYY-MM-DD') AS mod_date,
	    c.category_type
		FROM 
		    tb_board b
		JOIN 
		    tb_category c ON b.board_category = c.board_category
		WHERE 
		    b.del_yn = 'Y'
		    and b.reg_id = #{userId}
		ORDER BY 
		    b.board_no DESC
  </select>
  
  <update id="restoreBoard">
      UPDATE tb_board
      SET del_yn = 'N'
      WHERE board_no IN
      <foreach item="item" collection="list" open="(" separator="," close=")">
          #{item}
      </foreach>
  </update>
  
  <insert id="createBoardCategory">
  insert
  		into tb_category
  		(
  		  board_category
  		, category_name
  		, category_type
  		, reg_id
  		, mod_id
  		)
  		values
  		(
  			'CATEGORY-'|| seq_categoryno.nextval
  		 , #{categoryName}
  		 , #{categoryType}
  		 , #{regId}
  		 , #{modId}
  		)
  </insert>
	
	<select id="selectCurrentBoardCategory" resultType="string">
  	select
  	 	'CATEGORY-'|| seq_categoryno.currval
		from dual
  </select>
  
  <insert id="setBoardAuth">
  insert
  		into bod_auth
  		(
  		  user_id
  		, board_category
  		, write_yn
  		, reg_id
  		, mod_id
  		)
  		values
  		(
  			 #{userId}
  		 <choose>
  		 	<when test ="boardCategory != null">
  		 		, #{boardCategory}
  		 	</when>
  		 	<otherwise>
  		 		, 'CATEGORY-'|| seq_categoryno.currval  		 	
  		 	</otherwise>
  		 </choose>
  		 , #{writeYN}
  		 , #{regId}
  		 , #{modId}
  		)
  </insert>
  
  <select id="selectNormalUser" resultMap="authResult">
  	select
  		 m.user_id 
	    ,m.user_name
	    ,c.sub_name
	    ,d.dept_title
	    ,m.board_right
	    ,write_yn
		from bod_auth a
		join tb_member m on (a.user_id = m.user_id)
		join tb_dept d on (m.dept_code = d.dept_code)
		join tb_common c on (c.main_code = m.rank_bcode and c.sub_code = m.rank_scode)
		where a.board_category = #{boardType}
		order by c.sub_code desc
  </select>
	
	<delete id="resetBoardUser">
		delete
		  from bod_auth
		  where board_category = #{boardType}
	</delete>
	
	<update id="updateCategoryTitle">
		update
  				tb_category
 			set category_name = #{categoryTitle}
 			where board_category = #{boardType}
	</update>
	
	<update id="deleteCategory">
	UPDATE tb_category
      SET del_yn = 'Y'
      WHERE board_category = #{boardType}
	</update>
	
	<insert id="insertReply">
		insert
  		into tb_reply
  		(
  			reply_no
  		, reply_content
  		, ref_no
  		, reg_id
  		, mod_id
  		)
  		values
  		(
  			seq_replyno.nextval
  		, #{replyContent}
  		, #{refNo}
  		, #{regId}
  		, #{regId}
  		)
	</insert>
	
	<select id="selectReplyList" resultMap="replyResultMap">
  	select
  				reply_no
  			, reply_content
  			, r.reg_id
  			, r.mod_id
  			, m.user_name 
  			, c.sub_name
  			, to_char(r.mod_date, 'YYYY-MM-DD') as modCharDate
  	from tb_reply r
  	join tb_member m on(r.reg_id = user_id)
    join tb_common c on (c.sub_code = m.rank_scode)
   where r.del_yn = 'N'
   	 and ref_no = #{no}
   	 and c.main_code = '007-'
   order
   		by reply_no
  </select>
	
	<update id="deleteReply">
	UPDATE tb_reply
      SET del_yn = 'Y'
      WHERE reply_no = #{replyNo}
	</update>
	
	<update id="updateReply">
	UPDATE tb_reply
      SET reply_content= #{replyContent}
      WHERE reply_no = #{replyNo}
	</update>
	
	<delete id="removeReply">
		delete
		  FROM tb_reply
		  where ref_no = #{index}
	</delete>
	
</mapper>