<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="boardMapper">

	<resultMap id="boardResult" type="BoardDto" extends="commonMapper.commonResult">
		<id column="board_no" property="boardNo" />
		<result column="board_category" property="boardCategory" />
		<result column="board_title" property="boardTitle" />
		<result column="board_content" property="boardContent" />
		<result column="count" property="count" />
		<result column="temp_save" property="tempSave" />
		<result column="notice_yn" property="noticeYN" />
		<result column="char_date" property="charDate" />
		<result column="category_type" property="boardType" />
		
		<collection resultMap="attachMapper.attachResult" property="attachList" />
	</resultMap>

	<resultMap id="categoryResult" type="BoardCategoryDto" extends="commonMapper.commonResult">
		<id column="board_category" property="boardCategory" />
		<result column="category_name" property="categoryName" />
		<result column="dept_code" property="deptCode" />
		<result column="category_type" property="categoryType" />
	</resultMap>
	
	<select id="selectBoardCategory" resultMap="categoryResult">
		select 
      BOARD_CATEGORY
    , CATEGORY_NAME
    , DEPT_CODE
    , CATEGORY_TYPE
	from tb_category c
	    where
	    del_yn ='N'
	    and CATEGORY_TYPE not in ('COMPANY')
    <if test='superRight != "Y" and boardRight != "Y"'>
	    and   (case 
	            WHEN C.CATEGORY_TYPE = 'DEPT' AND c.dept_code = #{deptCode} THEN 'Y'
	            WHEN C.CATEGORY_TYPE = 'NORMAL' 
	                AND (SELECT COUNT(1) FROM BOD_AUTH a
	                WHERE a.BOARD_CATEGORY = c.BOARD_CATEGORY
	                AND USER_ID = #{userId}
	                AND READ_YN = 'Y') > 0 THEN 'Y'
	            ELSE 'N'
	        END) = 'Y'
    </if>
    	order by board_category
	</select>
	
	<select id="selectBoardListCount" resultType="_int">
  	select count(*) 
  	  from tb_board
  	 where 
  	 			del_yn = 'N'
  	  and board_category = #{boardType}
  </select>
	
	<select id="selectBoardList" resultMap="boardResult">
  	SELECT 
	    b.board_no,
	    b.board_category,
	    b.board_title,
	    b.reg_id,
	    b.count,
	    b.notice_yn,
	    TO_CHAR(b.mod_date, 'YYYY-MM-DD') AS mod_date,
	    c.category_type
		FROM 
		    tb_board b
		JOIN 
		    tb_category c ON b.board_category = c.board_category
		WHERE 
		    b.del_yn = 'N'
		    AND b.temp_save = '02'
		    AND b.board_category = #{boardType}
		ORDER BY 
		    b.board_no DESC
  </select>
  
  <insert id="insertBoard">
  	insert
  		into tb_board
  		(
  			board_no
  		, board_category
  		, board_title
  		, board_content
  		, temp_save
  		, notice_yn
  		, reg_id
  		, mod_id
  		)
  		values
  		(
  			seq_boardno.nextval
  		, #{boardCategory}
  		, #{boardTitle}
  		, #{boardContent}
  		, #{tempSave}
  		, #{noticeYN}
  		, #{regId}
  		, #{modId}
  		)
  </insert>
  
  <update id="updateIncreaseCount">
  	update
  				tb_board
 			set count = count+1
 			where board_no = #{no}
  </update>
  
  <select id="selectBoard" resultMap="boardResult">
  select
        board_no
      , board_title
      , b.reg_id
      , board_content
      , notice_yn
      , to_char(b.mod_date, 'YYYY-MM-DD') char_date
      , file_no
      , file_path
      , filesystem_name
      , origin_name
	  from tb_board b
	  left join tb_attachment on (ref_category ='B' and ref_no = board_no)
	 where b.del_yn ='N'
	 	 and b.temp_save = '02'
	   and board_no = #{no}
  </select>

</mapper>