<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="bkMapper">

<resultMap id="bkResult" type="BookingDto" extends="commonMapper.commonResult">
	<id column="booking_no" property="bookingNo"/>
	<result column="booking_id" property="bookingId"/>
	<result column="dept_code" property="deptCode"/>
	<result column="assets_no" property="assetsNo"/>
	<result column="bk_content" property="bkContent"/>
	<result column="bk_start_time" property="bkStartTime"/>
	<result column="bk_end_time" property="bkEndTime"/>
	<result column="bk_start_date" property="bkStartDate"/>
	<result column="bk_end_date" property="bkEndDate"/>
	<result column="rej_content" property="rejContent"/>
	<result column="status" property="status"/>
	<result column="assets_name" property="assetsName"/>
	<result column="sub_name" property="subName"/>
	<result column="main_name" property="mainName"/>
	
</resultMap>

<resultMap id="assResult" type="AssetsDto" extends="commonMapper.commonResult">
	<id column="assets_no" property="assetsNo"/>
	<result column="assets_name" property="assetsName"/>
	<result column="use_yn" property="useYN"/>
	<result column="main_code" property="mainCode"/>
	<result column="sub_code" property="subCode"/>
	<result column="sub_name" property="subName"/>
	<result column="main_name" property="mainName"/>
</resultMap>
 

<select id="selectSupCount" resultType="_int">
	select count(*)
	  from tb_assets
	 where main_code = '003-'
	   and del_yn = 'N'
</select>

<select id="selectSuppliesList" resultMap="assResult">
	select
		   sub_name
		  ,assets_name
		  ,use_yn
      from
       	   tb_assets a 
      join tb_common c on a.main_code = c.main_code
     where a.del_yn ='N'
       and c.main_code='003-'
       and a.sub_code= c.sub_code
     order by assets_no desc
</select>

<select id="selectSearchBkCount" resultType="_int">
	select count(*)
	  from tb_assets a 
	  join tb_common c on a.main_code = c.main_code
	 where a.main_code = '003-'
       and a.sub_code = c.sub_code
	   and a.del_yn = 'N'
	   <if test='keyword != null'>
       and ${condition} like '%' || #{keyword} || '%'
       </if>
       <if test='useYN == "Y"'>
       and a.use_yn = 'Y'
       </if>
</select>

<select id="selectSearchSupList" resultMap="assResult">
	select
		   c.sub_name,
		   a.assets_name,
		   a.use_yn
      from tb_assets a 
      join tb_common c on a.main_code = c.main_code
     where a.del_yn = 'N'
       and a.main_code = '003-'
       and a.sub_code = c.sub_code
       <if test='keyword != null'>
       and ${condition} like '%' || #{keyword} || '%'
       </if>
       <if test='useYN == "Y"'>
       and a.use_yn = 'Y'
       </if>
     order by a.assets_no desc
</select>

<select id="selectBkCount" resultType="_int">
	select count(*)
	  from tb_booking
	 where booking_id = #{userId}
	   and del_yn = 'N'
	  
</select>

<select id="selectMyBkList" resultMap="bkResult">
	select 
		   booking_no
		  ,main_name
		  ,sub_name
		  ,assets_name
		  ,NVL(to_char(bk_start_dt,'YYYY/MM/DD'), '-') AS bk_start_date
		  ,NVL(to_char(bk_start_dt,'hh24:mi'), ' ') AS bk_start_time
		  ,NVL(to_char(bk_end_dt,'hh24:mi'), ' ') AS bk_end_time
		  ,status
     from tb_booking b
     join tb_assets a using (assets_no)
     join tb_common c using (main_code)
    where booking_id = #{userId}
      and a.sub_code= c.sub_code
      and b.del_yn = 'N'

</select>

<select id="selectDetailAssList" resultMap="assResult">
	select 
		   assets_name
	  from tb_assets a
	  join tb_common c using (main_code)
	 where a.sub_code = c.sub_code
       and c.sub_name = #{subName}
       and c.del_yn = 'N'
       and a.use_yn = 'Y'
</select>

<select id="selectDetailMyBk" resultMap="bkResult">
	select 
	 	   booking_no
		  ,NVL(to_char(bk_start_dt,'YYYY/MM/DD'), '') AS bk_start_date
		  ,NVL(to_char(bk_end_dt,'YYYY/MM/DD'), '') AS bk_end_date
		  ,NVL(to_char(bk_start_dt,'hh24:mi'), '') AS bk_start_time
		  ,NVL(to_char(bk_end_dt,'hh24:mi'), '') AS bk_end_time
		  ,status
		  ,sub_name
		  ,assets_name
		  ,bk_content
		  ,NVL(rej_content,'') AS rejContent
	  from tb_booking b
	  join tb_assets a using (assets_no)
   	  join tb_common c using (main_code)
	 where booking_no = #{ bkNo }
	   and a.sub_code= c.sub_code
       and b.del_yn = 'N'
</select>

<update id="modifyBk">
	update tb_booking
	   set bk_content = #{bkContent},
	   	   mod_date = sysdate,
	   	   <if test='subName == "회의실" or subName =="차량"'>
		       bk_start_dt = to_date(#{bkStartDate}||' '||#{bkStartTime},'YYYY/MM/DD HH24:MI'),
		   	   bk_end_dt = to_date(#{bkEndDate}||' '||#{bkEndTime},'YYYY/MM/DD HH24:MI'),
	   	   </if>
	   	   assets_no = (select assets_no
	   	   				  from tb_assets
	   	   				 where assets_name = #{assetsName}
	   	   				)
	 where booking_no = #{bookingNo}
</update>

<update id="cancleBk">
	update tb_booking
	   set bk_content = #{bkContent},
	   	   mod_date = sysdate,
	   	   status = 'CAN'
	 where booking_no = #{bookingNo}
</update>

<select id="selectMySearchCount" resultType="_int">
	select count(*)
	  from tb_booking b
	  join tb_assets a on b.assets_no = a.assets_no
     join tb_common c on a.main_code = c.main_code
    where booking_id = #{userId}
      and a.sub_code= c.sub_code
      and b.del_yn = 'N'
       <if test='status != "ALL"'>
	   	and status = #{status}
	   </if>
	   <choose>
	   <when test='room == "Y" and supplies == "Y"'>
	   and c.main_code in ('002-','003-')
	   </when>
	   <when test='room == "Y" and supplies == "N"'>
	   and c.main_code = '002-'
	   </when>
	   <when test='room == "N" and supplies == "Y"'>
	   and c.main_code = '003-'
	   </when>
	   </choose>
	   
</select>

<select id="selectMySearchList" resultMap="bkResult">
	select 
		   booking_no
		  ,main_name
		  ,sub_name
		  ,assets_name
		  ,NVL(to_char(bk_start_dt,'YYYY/MM/DD'), '-') AS bk_start_date
		  ,NVL(to_char(bk_start_dt,'hh24:mi'), ' ') AS bk_start_time
		  ,NVL(to_char(bk_end_dt,'hh24:mi'), ' ') AS bk_end_time
		  ,status
     from tb_booking b
     join tb_assets a on b.assets_no = a.assets_no
     join tb_common c on a.main_code = c.main_code
    where booking_id = #{userId}
      and a.sub_code= c.sub_code
      and b.del_yn = 'N'
       <if test='status != "ALL"'>
	   	and status = #{status}
	   </if>
	   <choose>
	   <when test='room == "Y" and supplies == "Y"'>
	   and c.main_code in ('002-','003-')
	   </when>
	   <when test='room == "Y" and supplies == "N"'>
	   and c.main_code = '002-'
	   </when>
	   <when test='room == "N" and supplies == "Y"'>
	   and c.main_code = '003-'
	   </when>
	   </choose>
</select>

<select id="selectAssCount" resultType="_int">
	select count(*)
	  from tb_assets 
	where del_yn = 'N'
</select>

<select id="selectAssetsList" resultMap="assResult">
	select 
			assets_no
		  , assets_name
		  , sub_name
		  , main_name
	 from tb_assets a
	 join tb_common c on a.main_code = c.main_code
	where a.del_yn ='N'
	  and a.sub_code = c.sub_code
</select>

<select id="selectSearchAssCount" resultType="_int">
	select count(*)
	  from tb_assets 
	where del_yn = 'N'
	<if test='mainName != null'>
	  and main_code = #{mainName}
	</if>
	<if test='subName != null'>
	  and sub_code = (select sub_code
	 					 from tb_common
	 				    where main_code = #{mainName}
	 				      and sub_name = #{subName}
	 				      and del_yn = 'N')
	</if>
	<if test='keyword != null'>
	  and assets_name like '%'||#{keyword}||'%'
	</if>
</select>

<select id="selectSearchAssList" resultMap="assResult">
	select 
			assets_no
		  , assets_name
		  , sub_name
		  , main_name
	 from tb_assets a
	 join tb_common c on a.main_code = c.main_code
	where a.del_yn ='N'
	  and a.sub_code = c.sub_code
	<if test='mainName != null'>
	  and a.main_code = #{mainName}
	</if>
	<if test='subName != null'>
	  and a.sub_code = (select sub_code
	 					 from tb_common
	 				    where main_code = #{mainName}
	 				      and sub_name = #{subName}
	 				      and del_yn = 'N')
	</if>
	<if test='keyword != null'>
	  and assets_name like '%'||#{keyword}||'%'
	</if>
</select>

<update id="deleteAssets">
	update tb_assets
	  set del_yn = 'Y'
	where assets_No = #{assetsNo}
</update>

<insert id="insertAssets">
	insert
	  into tb_assets
	       (
	        assets_no
	       ,main_code
	       ,sub_code
	       ,assets_name
	       ,enr_id
	       ,mod_id
	       )
	 values
	 	   (
	 		seq_assno.nextval
	 	   ,#{ass.mainCode}
	 	   ,(select sub_code
	 	   		from tb_common
	 	   	   where main_code = #{ass.mainCode}	
	 	   	     and sub_name = #{ass.subName}
	 	   	 )
	 	   	,#{ass.assetsName}
	 	   	,#{userId}
	 	   	,#{userId}
	 	   )
	 		
</insert>

</mapper>
