<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="calendarMapper">

    <resultMap type="calendarDto" id="calendarResult" extends="commonMapper.commonResult">
        <id column="CAL_NO" property="calNo"/>
        <result column="DEPT_CODE" property="deptCode"/>
        <result column="CAL_SUB_CODE" property="calSubCode"/>
        <result column="CAL_COLOR" property="calColor"/>
        <collection property="schedules" ofType="scheduleDto" resultMap="scheduleResult"/>
    </resultMap>
    
    <resultMap type="scheduleDto" id="scheduleResult" extends="commonMapper.commonResult">
        <id column="SCH_NO" property="schNo"/>
        <result column="CAL_NO" property="calNo"/>
        <result column="SCH_CONTENT" property="schContent"/>
        <result column="START_DATE" property="startDate"/>
        <result column="END_DATE" property="endDate"/>
        <result column="ADDRESS" property="address"/>
        <result column="SCH_IMPORT" property="schImport"/>
        <result column="NOTIFY_YN" property="notifyYn"/>
        <result column="SCH_TITLE" property="schTitle"/>
        <result column="CAL_COLOR" property="calColor"/>
        <result column="CAL_SUB_CODE" property="schCalSubCode"/>
        <result column="MOD_DATE" property="modDate"/>
        <result column="MOD_ID" property="modId"/>
    </resultMap>
    
    <resultMap type="DeptDto" id="deptResult" extends="commonMapper.commonResult">
        <result column="DEPT_CODE" property="deptCode"/>
        <result column="DEPT_TITLE" property="deptTitle"/>
        <collection property="memberList" ofType="MemberDto">
            <id column="USER_ID" property="userId"/>
            <result column="USER_NAME" property="userName"/>
            <result column="sub_name" property="subName"/>
        </collection>
    </resultMap>
    
    <resultMap type="ShaSchDto" id="ShaSchResult" extends="commonMapper.commonResult">
        <result column="SHARE_ID" property="shareId"/>
        <result column="SCH_NO" property="schNo"/>
    </resultMap>
    
    <!-- 캘린더 ***************************************************-->
    <insert id="insertCal">
        INSERT INTO TB_CALENDAR
        (
            CAL_NO,
            REG_ID,
            DEPT_CODE,
            CAL_SUB_CODE,
            REG_DATE,
            MOD_DATE,
            MOD_ID,
            DEL_YN,
            CAL_COLOR
        )
        SELECT 
            SEQ_CALNO.nextval,
            #{userId},
            #{deptCode},
            sub.CAL_SUB_CODE,
            SYSDATE,
            SYSDATE,
            #{userId},
            'N',
            CASE
                WHEN sub.CAL_SUB_CODE = '01' THEN '#a82626c3'
                WHEN sub.CAL_SUB_CODE = '02' THEN '#104fa1c3'
                WHEN sub.CAL_SUB_CODE = '03' THEN '#358657c3'
                ELSE null
            END
        FROM
            (SELECT '01' AS CAL_SUB_CODE FROM DUAL
             UNION ALL
             SELECT '02' AS CAL_SUB_CODE FROM DUAL
             UNION ALL
             SELECT '03' AS CAL_SUB_CODE FROM DUAL) sub
    </insert>
    
    <!-- 일정, 공유일정 ***************************************************-->
    <!-- 제이트리 조직도 멤버조회 -->
    <select id="selecteMemberList" resultMap="deptResult">
        SELECT 
            D.DEPT_CODE,
            D.DEPT_TITLE,
            M.USER_NAME,
            C.SUB_NAME,
            M.USER_ID
        FROM 
            TB_DEPT D
        LEFT OUTER JOIN 
            TB_MEMBER M ON D.DEPT_CODE = M.DEPT_CODE AND M.DEL_YN = 'N'
        LEFT JOIN 
            TB_COMMON C ON M.RANK_BCODE = C.MAIN_CODE AND M.RANK_SCODE = C.SUB_CODE
        WHERE 
            D.DEL_YN = 'N'
        ORDER BY 
            D.DEPT_CODE
    </select>
    
    <!-- 일정등록 -->
    <insert id="insertSch">
        INSERT INTO TB_SCHEDULE
        (
            SCH_NO,
            CAL_NO, 
            SCH_CONTENT,
            START_DATE,
            END_DATE,
            ADDRESS,
            SCH_IMPORT,
            REG_DATE,
            MOD_DATE,
            MOD_ID,
            DEL_YN,
            SCH_TITLE
        )
        VALUES
        (
            SEQ_SCHNO.nextval,
            (
                SELECT CAL_NO
                FROM TB_CALENDAR
                WHERE CAL_SUB_CODE = #{schCalSubCode}
                AND REG_ID = #{modId}
            ),
            #{schContent},
            TO_DATE(#{startDate}, 'YYYY-MM-DD"T"HH24:MI'),
            TO_DATE(#{endDate}, 'YYYY-MM-DD"T"HH24:MI'),
            #{address},
            #{schImport},
            SYSDATE,
            SYSDATE,
            #{modId},
            'N',
            #{schTitle}  
        )
    </insert>

    <!-- 공유일정 등록 -->
    <insert id="insertSharedSch">
        INSERT INTO TB_SHA_SCH
        (
            SHARE_ID,
            SCH_NO,
            REG_DATE,
            MOD_DATE,
            REG_ID,
            MOD_ID,
            DEL_YN
        )
        VALUES
        (
            #{shareId},
            SEQ_SCHNO.currval,
            SYSDATE,
            SYSDATE,
            #{userId},
            #{userId},
            'N'
        )
    </insert>

    <!-- 전체일정, 공유일정 조회(특정 캘린더) -->
    <select id="selectSchList" resultMap="scheduleResult">
        SELECT DISTINCT 
			    S.SCH_NO,
			    S.SCH_CONTENT,
			    TO_CHAR(S.START_DATE, 'YYYY-MM-DD"T"HH24:MI') AS START_DATE,
			    TO_CHAR(S.END_DATE, 'YYYY-MM-DD"T"HH24:MI') AS END_DATE,
			    S.ADDRESS,
			    S.SCH_IMPORT,
			    S.SCH_TITLE,
			    C.CAL_COLOR,
			    C.CAL_SUB_CODE,
			    C.CAL_NO,
			    S.MOD_ID
				FROM TB_SCHEDULE S
				LEFT JOIN TB_CALENDAR C ON C.CAL_NO = S.CAL_NO
				LEFT JOIN TB_MEMBER M ON C.REG_ID = M.USER_ID
				LEFT JOIN TB_SHA_SCH SS ON S.SCH_NO = SS.SCH_NO
				WHERE 
			    <choose>
			        <when test="schCalSubCode == '01'">
			            -- M.SP_RIGHT 조건 추가
			            (M.SP_RIGHT = 'Y' AND S.DEL_YN = 'N' AND C.CAL_SUB_CODE = '01')
			            OR (SS.SHARE_ID = #{userId} AND S.DEL_YN = 'N' AND C.CAL_SUB_CODE = '01')
			        </when>
			        <when test="schCalSubCode == '02'">
			            -- M.DEPT_CODE 조건 추가
			            (M.DEPT_CODE IN (SELECT DEPT_CODE FROM TB_MEMBER WHERE USER_ID = #{userId}) 
			                AND M.DEPT_RIGHT = 'Y' AND S.DEL_YN = 'N' AND C.CAL_SUB_CODE = '02')
			            OR (SS.SHARE_ID = #{userId} AND S.DEL_YN = 'N' AND C.CAL_SUB_CODE = '02')
			        </when>
			        <when test="schCalSubCode == '03'">
			            -- S.MOD_ID 조건 추가
			            (S.MOD_ID = #{userId} AND S.DEL_YN = 'N' AND C.CAL_SUB_CODE = '03')
			            OR (SS.SHARE_ID = #{userId} AND S.DEL_YN = 'N' AND C.CAL_SUB_CODE = '03')
			        </when>
			    </choose>
    </select>
    
    <!-- 일정수정 -->
    <update id="updateSch">
        UPDATE TB_SCHEDULE
        SET
            SCH_TITLE = #{schTitle},
            SCH_IMPORT = #{schImport},
            START_DATE = TO_DATE(#{startDate}, 'YYYY-MM-DD"T"HH24:MI'),
            END_DATE = TO_DATE(#{endDate}, 'YYYY-MM-DD"T"HH24:MI'),
            ADDRESS = #{address},
            SCH_CONTENT = #{schContent},
            MOD_DATE = SYSDATE,
            CAL_NO = (
                SELECT CAL_NO
                FROM TB_CALENDAR
                WHERE CAL_SUB_CODE = #{schCalSubCode}
                AND REG_ID = #{modId}
            )
        WHERE SCH_NO = #{schNo}
    </update>
    
    <!-- 캘린더 메인 일정 삭제(상태 변경) -->
    <update id="deleteSch">
        UPDATE TB_SCHEDULE
        SET DEL_YN = 'Y'
        WHERE SCH_NO = #{schNo}
    </update>
    
    <!-- 공유 일정 삭제(상태 변경) -->
    <update id="deleteShareSch">
        UPDATE TB_SHA_SCH
        SET DEL_YN = 'Y'
        WHERE SCH_NO = #{schNo}
    </update>

    <!-- 휴지통 ***************************************************-->
    <!-- 휴지통 리스트 조회 -->
    <select id="selectSchWasteList" resultMap="scheduleResult">
        SELECT 
            S.SCH_NO,
            S.SCH_CONTENT,
            S.SCH_TITLE,
            C.CAL_SUB_CODE,
            C.CAL_NO,
            TO_DATE(S.MOD_DATE, 'YY-MM-DD') AS MOD_DATE
        FROM TB_SCHEDULE S
        JOIN TB_CALENDAR C ON (C.CAL_NO = S.CAL_NO)
        WHERE C.CAL_SUB_CODE = #{schCalSubCode}
        AND S.DEL_YN = 'Y'
        AND S.MOD_ID = #{userId}
    </select> 
    
    <!-- 상세조회 -->
    <select id="detailSch" resultMap="scheduleResult">
        SELECT 
            S.SCH_NO,
            S.SCH_CONTENT,
            TO_CHAR(S.START_DATE, 'YYYY-MM-DD"T"HH:MI') AS START_DATE,
            TO_CHAR(S.END_DATE, 'YYYY-MM-DD"T"HH:MI') AS END_DATE,
            S.ADDRESS,
            S.SCH_IMPORT,
            S.SCH_TITLE,
            C.CAL_SUB_CODE
        FROM TB_SCHEDULE S
        JOIN TB_CALENDAR C ON (C.CAL_NO = S.CAL_NO)
        WHERE S.SCH_NO = #{schNo}
    </select> 

    <!-- 휴지통 일정삭제 -->
    <delete id="deleteSchWaste">
        DELETE 
        FROM TB_SCHEDULE
        WHERE SCH_NO = #{schNo}
        AND DEL_YN = 'Y'
    </delete>
    
    <!-- 공유일정 일정삭제 -->
    <delete id="wasteShareRemoval">
        DELETE 
        FROM TB_SHA_SCH
        WHERE SCH_NO = #{schNo}
        AND DEL_YN = 'Y'
    </delete>
    
    <!-- 공유일정수정 -->
    <update id="updateSharedSch">
        UPDATE TB_SHA_SCH
        SET 
            SHARE_ID = #{shareId},
            SCH_NO = #{schNo},
            REG_DATE = SYSDATE,
            MOD_DATE = SYSDATE,
            REG_ID = #{userId},
            MOD_ID = #{userId},
            DEL_YN = "N"
        WHERE SCH_NO = #{schNo}
    </update>
    
    <!-- 중복된 공유 일정 조회 -->
    <select id="checkSharedSch" resultMap="ShaSchResult">
        SELECT COUNT(*)
        FROM TB_SHA_SCH
        WHERE SCH_NO = #{schNo} 
        AND SHARE_ID = #{shareId} 
        AND DEL_YN = 'N'
    </select>
    
    <!-- 공유일정 등록(수정용) -->
    <insert id="insertShared">
        INSERT INTO TB_SHA_SCH
        (
            SHARE_ID,
            SCH_NO,
            REG_DATE,
            MOD_DATE,
            REG_ID,
            MOD_ID,
            DEL_YN
        )
        VALUES
        (
            #{shareId},
            #{schNo},
            SYSDATE,
            SYSDATE,
            #{userId},
            #{userId},
            'N'
        )
    </insert>

    <!-- 30일 뒤 휴지통 일정삭제(스케줄러) -->
    <delete id="wasteSchCompletely">
        <![CDATA[ 
            DELETE FROM TB_SCHEDULE
            WHERE DEL_YN = 'Y'
            AND MOD_DATE < ADD_MONTHS(SYSDATE, -1) + 1 
        ]]>
    </delete>
    
    <!-- 30일 뒤 휴지통 공유일정삭제(스케줄러) -->
    <delete id="shareSchCompletely">
        <![CDATA[ 
            DELETE FROM TB_SHA_SCH
            WHERE DEL_YN = 'Y'
            AND MOD_DATE < ADD_MONTHS(SYSDATE, -1) + 1 
        ]]>
    </delete>
    
    <!-- 휴지통 일정 복구(상태 변경) -->
    <update id="wasteSchRestore">
        UPDATE TB_SCHEDULE
        SET DEL_YN = 'N'
        WHERE SCH_NO = #{schNo}
    </update>
    
    <!-- 공유일정 복구(상태 변경) -->
    <update id="wasteShareRestore">
        UPDATE TB_SHA_SCH
        SET DEL_YN = 'N'
        WHERE SCH_NO = #{schNo}
    </update>
</mapper>