<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="calendarMapper">
	<resultMap type="calendarDto" id="calendarResult" extends="commonMapper.commonResult">
		<id column="CAL_NO" property="calNo"/>
		<result column="DEPT_CODE" property="deptCode"/>
		<result column="CAL_SUB_CODE" property="calSubCode"/>
		<result column="CAL_COLOR" property="calColor"/>
	  <collection property="schedules" ofType="scheduleDto" resultMap="scheduleResult"/>
	</resultMap>
	
	<resultMap type="scheduleDto" id="scheduleResult" extends="commonMapper.commonResult">
     <id column="SCH_NO" property="schNo"/>
     <result column="CAL_NO" property="calNo"/>
     <result column="SCH_CONTENT" property="schContent"/>
     <result column="START_DATE" property="startDate"/>
     <result column="END_DATE" property="endDate"/>
     <result column="ADDRESS" property="address"/>
     <result column="SCH_IMPORT" property="schImport"/>
     <result column="NOTIFY_YN" property="notifyYn"/>
     <result column="SCH_TITLE" property="schTitle"/>
 		 <result column="CAL_COLOR" property="calColor"/>
  	 <result column="CAL_SUB_CODE" property="schCalSubCode"/>
 </resultMap>
						
		
	<!-- 일정등록 -->
	<insert id="insertSch">
	    INSERT INTO TB_SCHEDULE
	    (
	        SCH_NO,
	        CAL_NO, 
	        SCH_CONTENT,
	        START_DATE,
	        END_DATE,
	        ADDRESS,
	        SCH_IMPORT,
	        NOTIFY_YN,
	        REG_DATE,
	        MOD_DATE,
	        MOD_ID,
	        DEL_YN,
	        SCH_TITLE
	    )
	    VALUES
	    (
	        SEQ_SCHNO.nextval,
	        (
	            SELECT CAL_NO
	            FROM TB_CALENDAR
	            WHERE CAL_SUB_CODE = #{schCalSubCode}
	            AND REG_ID = #{modId}
	        ),
	        #{schContent},
	        TO_DATE(#{startDate}, 'YYYY-MM-DD"T"HH24:MI'),
					TO_DATE(#{endDate}, 'YYYY-MM-DD"T"HH24:MI'),
	        #{address},
	        #{schImport},
	        #{notifyYn},
	        SYSDATE,
	        SYSDATE,
	        #{modId},
	        'N',
	        #{schTitle}  
	    )
	</insert>

	<!-- 전체일정 조회(특정 캘린더)  -->
	<select id="selectScheduleList" resultMap="scheduleResult">
	        SELECT 
	            S.SCH_NO,
	            S.SCH_CONTENT,
	            TO_CHAR(S.START_DATE, 'YYYY-MM-DD"T"HH24:MI') AS START_DATE,
	        		TO_CHAR(S.END_DATE, 'YYYY-MM-DD"T"HH24:MI') AS END_DATE,
	            S.ADDRESS,
	            S.SCH_IMPORT,
	            S.NOTIFY_YN,
	            S.SCH_TITLE,
	            C.CAL_COLOR,
	            C.CAL_SUB_CODE,
	            C.CAL_NO
	        FROM TB_SCHEDULE S
	        JOIN TB_CALENDAR C ON (C.CAL_NO = S.CAL_NO)
	        WHERE C.CAL_SUB_CODE =  #{schCalSubCode}
	       
	    </select> 
	    
	<!-- 상세조회 -->
	<select id="detailSch" resultMap="scheduleResult">
	        SELECT 
	        	SCH_NO,
		        SCH_CONTENT,
		        TO_CHAR(S.START_DATE, 'YYYY-MM-DD"T"HH24:MI') AS START_DATE,
	          TO_CHAR(S.END_DATE, 'YYYY-MM-DD"T"HH24:MI') AS END_DATE,
		        ADDRESS,
		        SCH_IMPORT,
		        NOTIFY_YN,
		        REG_DATE,
		        MOD_DATE,
		        DEL_YN,
		        SCH_TITLE,
	        FROM TB_SCHEDULE 
	        WHERE schNo =  #{schNo}
	    </select> 
	 
	<!-- 일정수정 -->
	<update id="updateSch">
	    UPDATE TB_SCHEDULE
	    SET
	        SCH_TITLE = #{schTitle},
	        SCH_IMPORT = #{schImport},
	        START_DATE = TO_DATE(#{startDate}, 'YYYY-MM-DD"T"HH24:MI'),
	        END_DATE = TO_DATE(#{endDate}, 'YYYY-MM-DD"T"HH24:MI'),
	        ADDRESS = #{address},
	        NOTIFY_YN = #{notifyYn},
	        SCH_CONTENT = #{schContent},
	        MOD_DATE = SYSDATE,
	        CAL_NO = (
		            SELECT CAL_NO
		            FROM TB_CALENDAR
		            WHERE CAL_SUB_CODE = #{schCalSubCode}
		        )
	    WHERE SCH_NO = #{schNo}
	</update>
	
	<!-- 일정삭제(상태변경) -->
	<!-- <delete id="deleteSch">
	 DELETE FROM TB_SCHEDULE
	 WHERE SCH_NO = ${schNo}
	</delete>
	 -->
	<update id="deleteSch">
	 UPDATE TB_SCHEDULE
	 SET DEL_YN = 'Y'
	 WHERE SCH_NO = ${schNo}
	</update>

<!--  캘린더 CAL_SUB_CODE 수정 
    <update id="updateCalendarSubCode">
        UPDATE TB_CALENDAR
        SET CAL_SUB_CODE = #{schCalSubCode}
        WHERE CAL_NO = #{calNo}
    </update> -->
</mapper>
