<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="edsmProgMapper">
	<resultMap type="EdocDto" id="edocResult" extends="commonMapper.commonResult">
		<id column="ED_NO" property="edNo"/>		
		<result column="ED_FORM_CODE" property="edFormCode"/>
		<result column="ED_TITLE" property="edTitle"/>
		<result column="ED_CONTENT" property="edContent"/>
		<result column="PRES_DATE" property="presDate"/>
		<result column="SEC_CODE" property="secCode"/>
		<result column="STATUS" property="status"/>
		<result column="TEMP_SAVE" property="tempSave"/>
		<result column="DEPT_TITLE" property="deptTitle"/>
		<result column="ED_FR_NAME" property="edFrName"/>
		
		<collection property="attachList" ofType="AttachDto">
			<id column="FILE_NO" property="fileNo"/>
			<result column="REF_NO" property="refNo"/>
			<result column="REF_CATEGORY" property="refCategory"/>
			<result column="ORIGIN_NAME" property="originName"/>
			<result column="FILESYSTEM_NAME" property="filesystemName"/>
			<result column="FILE_PATH" property="filePath"/>
		</collection>
		
		<collection property="edocHistList" ofType="EdocHistDto">
			<id column="USER_ID" property="userId"/>
			<id column="ED_NO" property="edNo"/>
			<result column="ED_HIST_ORDER" property="edHistOrder"/>
			<result column="ED_HIST_SUB_CODE" property="edHistSubCode"/>
			<result column="ED_HIST_DATE" property="edHistDate"/>
			<result column="ED_HIST_COMMENT" property="edHistComment"/>
		</collection>
		
		<collection property="edocRefList" ofType="EdocRefDto">
			<id column="ED_NO" property="edNo"/>
			<id column="USER_ID" property="userId[]"/>
			<result column="USER_NAME" property="userName"/>
		</collection>
		
	</resultMap>
	
	<resultMap type="DeptDto" id="deptResult" extends="commonMapper.commonResult">
		<result column="DEPT_CODE" property="deptCode"/>
		<result column="DEPT_TITLE" property="deptTitle"/>
		
		<collection property="memberList" ofType="MemberDto">
			<id column="USER_ID" property="userId"/>
			<result column="USER_NAME" property="userName"/>
			<result column="sub_name" property="subName"/>
		</collection>

	</resultMap>
	
	<!-- 상세 페이지 조회할 때 쓸 resultMap -->
	<resultMap type="EdocHistDto" id="edocHistResult" extends="commonMapper.commonResult">
		<id column="USER_ID" property="userId"/>
		<result column="ED_NO" property="edNo"/>
		<result column="ED_HIST_ORDER" property="edHistOrder"/>
		<result column="ED_HIST_SUB_CODE" property="edHistSubCode"/>
		<result column="ED_HIST_DATE" property="edHistDate"/>
		<result column="ED_HIST_COMMENT" property="edHistComment"/>
		<result column="USER_NAME" property="userName"/>
		<result column="SIGN_URL" property="signUrl"/>
	</resultMap>
	
	<resultMap type="EdocRefDto" id="edocRefResult" extends="commonMapper.commonResult">
		<id column="ED_NO" property="edNo"/>
		<id column="USER_ID" property="userId"/>
		<result column="USER_NAME" property="userName" />
	</resultMap>
	
	<resultMap type="AttachDto" id="attachResult" extends="commonMapper.commonResult">
		<id column="FILE_NO" property="fileNo"/>
		<result column="REF_NO" property="refNo"/>
		<result column="REF_CATEGORY" property="refCategory"/>
		<result column="ORIGIN_NAME" property="originName"/>
		<result column="FILESYSTEM_NAME" property="filesystemName"/>
		<result column="FILE_PATH" property="filePath"/>
	</resultMap>
	
	<!-- 결재선 설정 모달 내 팀명, 사원 조회 -->
	<select id="selectApprLine" resultMap="deptResult">
		SELECT 
             D.DEPT_CODE       
               , D.DEPT_TITLE 
               , M.USER_NAME 
               , C.SUB_NAME 
               , M.USER_ID
		FROM 
		    TB_DEPT D 
		LEFT OUTER JOIN 
		    TB_MEMBER M ON D.DEPT_CODE = M.DEPT_CODE AND M.DEL_YN = 'N'
		LEFT JOIN 
		    TB_COMMON C ON M.RANK_BCODE = C.MAIN_CODE AND M.RANK_SCODE = C.SUB_CODE
		WHERE 
		    D.DEL_YN = 'N'
		
		ORDER BY 
        D.DEPT_CODE
	</select>
	
	<!-- 기안서 작성 (결재 문서 insert)-->
	<insert id="insertDoc">
		INSERT INTO TB_EDOC
          (
            ED_NO
          , ED_FORM_CODE
          , ED_TITLE
          , ED_CONTENT
          , PRES_DATE
          , SEC_CODE
          , STATUS
          , REG_DATE
          , MOD_DATE
          , REG_ID
          , MOD_ID
          , DEL_YN
          )
          VALUES
          (
            'LI' || '-' || (SELECT SUBSTR(EF.ED_FR_NAME, 1, 2)
              FROM TB_EDOC_FORM EF
              WHERE EF.ED_FR_CODE = #{edFormCode}
              AND ROWNUM = 1) || '-' || TO_CHAR(SYSDATE, 'YYYYMMDD') || '-' || SEQ_EDOC.NEXTVAL
          , #{edFormCode}
          , #{edTitle}
          , #{edContent}
          , #{presDate}
          , #{secCode}
          , '04'
          , SYSDATE
          , SYSDATE
          , #{regId}
          , #{modId}
          , 'N'
          )
	</insert>
	
	<!-- 결제자 참조자 테이블 insert -->
	<insert id="insertRef">
		insert into tb_edoc_REF
		(
     ED_NO
    ,USER_ID
    ,REG_DATE
    ,MOD_DATE
    ,REG_ID
    ,MOD_ID
    ,DEL_YN
    )VALUES(
    'LI' || '-' || (SELECT SUBSTR(EF.ED_FR_NAME, 1, 2)
          FROM TB_EDOC_FORM EF
          WHERE EF.ED_FR_CODE = #{edFormCode}
          AND ROWNUM = 1) || '-' || TO_CHAR(SYSDATE, 'YYYYMMDD') || '-' || SEQ_EDOC.CURRVAL
    ,#{userId}
    ,SYSDATE      
    ,SYSDATE
    , #{regId}
    , #{modId}
    , 'N'
    )
	</insert>
	
	<!-- 결제 이력 insert -->
	<insert id="insertEdocHist">
	insert into tb_edoc_hist
		(
     USER_ID
    ,ED_NO
    ,REG_DATE
    ,MOD_DATE
    ,ED_HIST_ORDER
    ,ED_HIST_SUB_CODE
    ,REG_ID
    ,MOD_ID
    ,DEL_YN
    )VALUES(
     #{userId}
    ,'LI' || '-' || (SELECT SUBSTR(EF.ED_FR_NAME, 1, 2)
          FROM TB_EDOC_FORM EF
          WHERE EF.ED_FR_CODE = #{edFormCode}
          AND ROWNUM = 1) || '-' || TO_CHAR(SYSDATE, 'YYYYMMDD') || '-' || SEQ_EDOC.CURRVAL
    ,SYSDATE      
    ,SYSDATE
    , #{edHistOrder}
    , #{edHistSubCode}
    , #{regId}
    , #{modId}
    , 'N'
    )
	
	</insert>
	
	
	
	<!-- 진행중인 문서 목록 조회 (전체) -->
	<select id="selectAllList" resultMap="edocResult">
		SELECT DISTINCT ED.ED_NO
		     , ED.ED_TITLE
		     , M.USER_NAME AS REG_ID
		     , ED.MOD_ID
		     , TO_CHAR(ED.REG_DATE, 'YYYY-MM-DD') AS REG_DATE
		     , EF.ED_FR_NAME AS ED_FORM_CODE
		     , DECODE(ED.STATUS, '01', '대기', '02', '예정', '03', '확인', '04', '진행') AS STATUS
		     , ED.REG_DATE
		FROM TB_EDOC ED
		JOIN TB_EDOC_FORM EF ON (ED_FR_CODE = ED_FORM_CODE)
		JOIN TB_MEMBER M ON (ED.REG_ID = M.USER_ID)
    JOIN TB_EDOC_HIST EH ON (ED.ED_NO = EH.ED_NO)
    JOIN TB_EDOC_REF ER ON (ED.ED_NO = ER.ED_NO)
		WHERE ED.DEL_YN = 'N'
            AND (ED.REG_ID = #{userId} OR EH.USER_ID = #{userId} OR ER.USER_ID = #{userId})
            AND ED.STATUS = '04'
    ORDER BY SUBSTR(ED_NO, INSTR(ED_NO, '-', -1) + 1) DESC
	</select>
	
	<select id="selectAllListCnt" resultType="_int">
		SELECT COUNT(*) AS COUNT
		FROM (
				    SELECT DISTINCT ED.ED_NO
						     , ED.ED_TITLE
						     , M.USER_NAME AS REG_ID
						     , ED.MOD_ID
						     , TO_CHAR(ED.REG_DATE, 'YYYY-MM-DD') AS REG_DATE
						     , EF.ED_FR_NAME AS ED_FORM_CODE
						     , DECODE(ED.STATUS, '01', '대기', '02', '예정', '03', '확인', '04', '진행') AS STATUS
						     , ED.REG_DATE
						FROM TB_EDOC ED
						JOIN TB_EDOC_FORM EF ON (ED_FR_CODE = ED_FORM_CODE)
						JOIN TB_MEMBER M ON (ED.REG_ID = M.USER_ID)
				    JOIN TB_EDOC_HIST EH ON (ED.ED_NO = EH.ED_NO)
				    JOIN TB_EDOC_REF ER ON (ED.ED_NO = ER.ED_NO)
						WHERE ED.DEL_YN = 'N'
				            AND (ED.REG_ID = #{userId} OR EH.USER_ID = #{userId} OR ER.USER_ID = #{userId})
				            AND ED.STATUS = '04'
				    ORDER BY SUBSTR(ED_NO, INSTR(ED_NO, '-', -1) + 1) DESC
		) COUNT
	</select>
	
	<!-- 진행중인 문서 목록 검색 -->
	<select id="selectSearchListCnt" resultType="_int">
		SELECT COUNT(*) AS COUNT
		FROM (
		    SELECT DISTINCT ED.ED_NO
		                 , ED.ED_TITLE
		                 , M.USER_NAME AS REG_ID
		                 , ED.MOD_ID
		                 , TO_CHAR(ED.REG_DATE, 'YYYY-MM-DD') AS REG_DATE
		                 , EF.ED_FR_NAME AS ED_FORM_CODE
		                 , DECODE(ED.STATUS, '01', '대기', '02', '예정', '03', '확인', '04', '진행') AS STATUS
		                 , ED.REG_DATE
		    FROM TB_EDOC ED
		    JOIN TB_EDOC_FORM EF ON (ED_FR_CODE = ED_FORM_CODE)
				JOIN TB_MEMBER M ON (ED.REG_ID = M.USER_ID)
		    JOIN TB_EDOC_HIST EH ON (ED.ED_NO = EH.ED_NO)
		    JOIN TB_EDOC_REF ER ON (ED.ED_NO = ER.ED_NO)
		    WHERE ED.DEL_YN = 'N'
		      AND (ED.REG_ID = #{userId} OR EH.USER_ID = #{userId} OR ER.USER_ID = #{userId})
	     		AND ED.STATUS = #{condition}
       		AND ED.ED_TITLE LIKE '%' || #{keyword} || '%'
       		AND ED.STATUS = '04'
		    ORDER BY SUBSTR(ED_NO, INSTR(ED_NO, '-', -1) + 1) DESC
		) COUNT
	</select>
	
	<select id="selectSearchList" resultMap="edocResult">
		SELECT DISTINCT ED.ED_NO
		     , ED.ED_TITLE
		     , M.USER_NAME AS REG_ID
		     , ED.MOD_ID
		     , TO_CHAR(ED.REG_DATE, 'YYYY-MM-DD') AS REG_DATE
		     , EF.ED_FR_NAME AS ED_FORM_CODE
		     , DECODE(ED.STATUS, '01', '대기', '02', '예정', '03', '확인', '04', '진행') AS STATUS
		     , ED.REG_DATE
		FROM TB_EDOC ED
		JOIN TB_EDOC_FORM EF ON (ED_FR_CODE = ED_FORM_CODE)
		JOIN TB_MEMBER M ON (ED.REG_ID = M.USER_ID)
    JOIN TB_EDOC_HIST EH ON (ED.ED_NO = EH.ED_NO)
    JOIN TB_EDOC_REF ER ON (ED.ED_NO = ER.ED_NO)
		WHERE ED.DEL_YN = 'N'
       AND (ED.REG_ID = #{userId} OR EH.USER_ID = #{userId} OR ER.USER_ID = #{userId})
	     AND ED.STATUS = #{condition}
	     AND ED.ED_TITLE LIKE '%' || #{keyword} || '%'
	     AND ED.STATUS = '04'
    ORDER BY SUBSTR(ED_NO, INSTR(ED_NO, '-', -1) + 1) DESC
	</select>
	
	<!-- 진행중인 문서 상세 조회 -->
	
	<!-- 기안문서 정보 + 기안자 정보 -->
	<select id="selectEdocDetail" resultMap="edocResult">
		SELECT ED_FR_NAME
			    , ED_NO
			    , D.DEPT_TITLE
			    , M.USER_NAME AS REG_ID
			    , ED.PRES_DATE
			    , ED.SEC_CODE
			    , ED.ED_TITLE
			    , ED_CONTENT
		FROM TB_EDOC ED
		JOIN TB_EDOC_FORM EF ON (ED.ED_FORM_CODE = EF.ED_FR_CODE)
		JOIN TB_MEMBER M ON (M.USER_ID = ED.REG_ID)
		JOIN TB_DEPT D ON (M.DEPT_CODE = D.DEPT_CODE)
		WHERE ED.ED_NO = #{edNo}
	</select>
	
	<!-- 결재자와 결재이력 -->
	<select id="selectApprDetail" resultMap="edocHistResult">
		SELECT EH.USER_ID
		     , M.USER_NAME
		     , M.SIGN_URL
		     , EH.ED_NO
		     , EH.ED_HIST_ORDER
		     , EH.ED_HIST_SUB_CODE
		     , EH.ED_HIST_DATE
		     , EH.ED_HIST_COMMENT
		     , EH.REG_ID
		FROM TB_EDOC_HIST EH
		JOIN TB_MEMBER M ON (M.USER_ID = EH.USER_ID)
		WHERE ED_NO = #{edNo}
		ORDER BY ED_HIST_ORDER
	</select>
	
	<!-- 참조자 목록 -->
	<select id="selectRefDetail" resultMap="edocRefResult">
		SELECT ED_NO
		     , USER_ID
		     , M.USER_NAME
		FROM TB_EDOC_REF ER
		JOIN TB_MEMBER M USING (USER_ID)
		WHERE ED_NO = #{edNo}
	</select>
	
	<!-- 첨부파일 -->
	<select id="selectAttachDetail" resultMap="attachResult">
		SELECT FILE_NO 
		     , FILE_PATH
		     , FILESYSTEM_NAME
		     , ORIGIN_NAME
		FROM TB_EDOC ED
		JOIN TB_ATTACHMENT AT ON (REF_CATEGORY = 'E' AND ED_NO = REF_NO)
		WHERE ED.DEL_YN = 'N' AND AT.DEL_YN = 'N'
		    AND ED_NO = #{edNo}
	</select>
	
	<!-- 보안등급 수정 -->
	<update id="updateSecCode">
		UPDATE TB_EDOC
		SET SEC_CODE = #{secCode}
		WHERE ED_NO = #{edNo}
	</update>
	
	<!-- 기안 취소 -->
	<update id="modifyDelYn">
		UPDATE TB_EDOC
		SET DEL_YN = 'Y'
		WHERE ED_NO = #{edNo}
	</update>
	
	<!-- 진행중인 문서 상세 (결재) -->
	<update id="updateEdocHist">
		UPDATE TB_EDOC_HIST
		SET ED_HIST_SUB_CODE = #{edHistSubCode},
				ED_HIST_COMMENT = #{edHistComment},
				MOD_DATE = SYSDATE
		WHERE USER_ID = #{userId}
			AND ED_NO = #{edNo}
	</update>
	
	<!-- 결재 count -->
	<select id="selectEdHistSubCodeCnt" resultType="_int">
		SELECT COUNT(ED_HIST_SUB_CODE)
		FROM TB_EDOC_HIST
		WHERE ED_NO = #{edNo}
	</select>
	
	<update id="updateEdocStatusAppr">
		UPDATE TB_EDOC
		SET STATUS = '05' 
		WHERE ED_NO = #{edNo}
	</update>
	
	<update id="updateEdocStatusCxl">
		UPDATE TB_EDOC
		SET STATUS = '06' 
		WHERE ED_NO = #{edNo}
	</update>
	
	
</mapper>
