<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="hrMapper">
	<resultMap type="MemberDto" id="memberResult" extends="commonMapper.commonResult">
		<id column="USER_ID" property="userId"/>
		<result column="USER_PWD" property="userPwd"/>
		<result column="DEPT_CODE" property="deptCode"/>
		<result column="DEPT_NAME" property="deptName"/>
		<result column="position" property="position"/>
		<result column="USER_NAME" property="userName"/>
		<result column="PHONE" property="phone"/>
		<result column="BIRTH_DATE" property="birthDate"/>
		<result column="EDUCATION" property="education"/>
		<result column="ADDRESS" property="address"/>
		<result column="ZIP_CODE" property="zipCode"/>
		<result column="DETAIL_ADD" property="detailAdd"/>
		<result column="HIRE_DATE" property="hireDate"/>
		<result column="RETIRE_DATE" property="retireDate"/>
		<result column="SUPER_RIGHT" property="superRight"/>
		<result column="HR_RIGHT" property="hrRight"/>
		<result column="SP_RIGHT" property="spRight"/>
		<result column="BOARD_RIGHT" property="boardRight"/>
		<result column="DEPT_RIGHT" property="deptRight"/>
		<result column="PROFILE_URL" property="profileUrl"/>
		<result column="SIGN_URL" property="signUrl"/>
		<result column="DAYOFF" property="dayOff"/>
		<result column="SECONDARY_CODE" property="secondaryCode"/>
		<result column="SECONDARY_USESE" property="secondaryUsese"/>
		<result column="RANK_BCODE" property="rankBcode"/>
		<result column="SERVICEYEAR" property="serviceYear"/>
		<result column="year_walkDay" property="yearWalkDay"/>
		<result column="year_walktime" property="yearWalktime"/>
		<result column="year_lateCount" property="yearlateCount"/>
		<result column="year_absentCount" property="yearAbsentCount"/>
		<result column="month_walkDay" property="monthWalkDay"/>
		<result column="month_walktime" property="monthWalktime"/>
		<result column="month_lateCount" property="monthlateCount"/>
		<result column="month_absentCount" property="monthAbsentCount"/>
		<result column="searhstart_day" property="dayoffStartsearch"/>
		<result column="searhend_day" property="dayoffendsearch"/>
		<result column="dayoffCount" property="dayOffCount"/>
		<result column="TOTAL_MEMBERS" property="totalMember"/>
		<result column="DEPT_CAPNAME" property="deptCapName"/>
		<result column="DEPT_MEMBERS" property="deptMember"/>
		<result column="GENDER" property="gender"/>
		<result column="SUB_CODE" property="subCode"/>
	</resultMap>
	
	<resultMap type="CommonTableDto" id="commonTableResult">
		<result column="MAIN_CODE" property="mainCode"/>
		<result column="SUB_CODE" property="subCode"/>
		<result column="MAIN_NAME" property="mainName"/>
		<result column="SUB_COL" property="subCol"/>
		<result column="SUB_NAME" property="subName"/>
	</resultMap>
	
	<resultMap type="DeptDto" id="deptDtoResult" extends="commonMapper.commonResult">
		<result column="DEPT_CODE" property="deptCode"/> 
		<result column="DEPT_TITLE" property="deptTitle"/> 
		
		<collection property="memberList" ofType="MemberDto">
			<id column="USER_ID" property="userId"/>
			<result column="USER_NAME" property="userName"/>
			<result column="sub_name" property="subName"/>
		</collection>

	</resultMap>
	
	<resultMap id="categoryResult" type="BoardCategoryDto" extends="commonMapper.commonResult">
		<id column="board_category" property="boardCategory" />
		<result column="category_name" property="categoryName" />
		<result column="dept_code" property="deptCode" />
		<result column="category_type" property="categoryType" />
	</resultMap>
	
	<select id="selectMemberList" resultMap="memberResult">
		SELECT 
	    M.USER_ID,
	    M.USER_PWD,
      M.DEPT_CODE,
	    D.DEPT_TITLE DEPT_NAME,
	    c.sub_name position,
	    M.USER_NAME,
	    M.PHONE,
	    TO_CHAR(M.BIRTH_DATE,'YYYY-MM-DD') as BIRTH_DATE,
	    M.EDUCATION,
	    M.ADDRESS,
	    M.ZIP_CODE,
	    M.DETAIL_ADD,
	    TO_CHAR(M.HIRE_DATE,'YYYY-MM-DD') HIRE_DATE,
	    TO_CHAR( M.RETIRE_DATE,'YYYY-MM-DD') as RETIRE_DATE,
	    M.SUPER_RIGHT,
	    M.HR_RIGHT,
	    M.SP_RIGHT,
	    M.BOARD_RIGHT,
	    M.DEPT_RIGHT,
	    M.PROFILE_URL,
	    M.SIGN_URL,
	    M.DAYOFF,
	    M.SECONDARY_CODE,
	    M.SECONDARY_USESE,
	    M.RANK_BCODE,
	    M.REG_DATE,
	    M.MOD_DATE,
	    M.REG_ID,
	    M.MOD_ID,
	    M.DEL_YN,
	    M.GENDER,
	    TRUNC(months_between(SYSDATE,M.HIRE_DATE) /12) as SERVICEYEAR
	FROM 
	    TB_MEMBER M
	JOIN 
	    TB_COMMON C ON M.RANK_BCODE = C.MAIN_CODE AND M.RANK_SCODE = C.SUB_CODE
	JOIN 
	    tb_dept D ON M.DEPT_CODE = D.dept_code
	ORDER BY c.SUB_CODE DESC
	</select>
	
	<select id="searhMemberList" resultMap="memberResult">
		SELECT 
	    M.USER_ID,
	    M.USER_PWD,
      M.DEPT_CODE,
	    D.DEPT_TITLE DEPT_NAME,
	    c.sub_name position,
	    M.USER_NAME,
	    M.PHONE,
	    TO_CHAR(M.BIRTH_DATE,'YYYY-MM-DD') as BIRTH_DATE,
	    M.EDUCATION,
	    M.ADDRESS,
	    M.ZIP_CODE,
	    M.DETAIL_ADD,
	    TO_CHAR(M.HIRE_DATE,'YYYY-MM-DD') HIRE_DATE,
	    TO_CHAR( M.RETIRE_DATE,'YYYY-MM-DD') as RETIRE_DATE,
	    M.SUPER_RIGHT,
	    M.HR_RIGHT,
	    M.SP_RIGHT,
	    M.BOARD_RIGHT,
	    M.DEPT_RIGHT,
	    M.PROFILE_URL,
	    M.SIGN_URL,
	    M.DAYOFF,
	    M.SECONDARY_CODE,
	    M.SECONDARY_USESE,
	    M.RANK_BCODE,
	    M.REG_DATE,
	    M.MOD_DATE,
	    M.REG_ID,
	    M.MOD_ID,
	    M.DEL_YN,
	   	M.GENDER,
	    TRUNC(months_between(SYSDATE,M.HIRE_DATE) /12) as SERVICEYEAR
		FROM 
		    TB_MEMBER M
		JOIN 
		    TB_COMMON C ON M.RANK_BCODE = C.MAIN_CODE AND M.RANK_SCODE = C.SUB_CODE
		JOIN 
		    tb_dept D ON M.DEPT_CODE = D.dept_code
	    WHERE 
	    M.USER_NAME LIKE '%' || #{keyword} || '%'    
	ORDER BY c.SUB_CODE DESC
	</select>
	
	<select id="selectDeftList" resultMap="deptDtoResult">
		SELECT 
	   DEPT_CODE
	  ,DEPT_TITLE
		FROM 
  	TB_DEPT
  	where del_yn ='N'
		ORDER BY DEPT_CODE DESC  
	</select>
	
	<select id="selectCommonTableList" resultMap="commonTableResult">
	SELECT 
     c.sub_code   
  	,c.sub_name
		FROM 
    	TB_COMMON C
		where MAIN_CODE = '007-'
	</select>
	
	<insert id="insertMember">
	    INSERT INTO TB_MEMBER (
	         USER_ID
	        , DEPT_CODE
	        , USER_PWD
	        , USER_NAME
	        , PHONE
	        , BIRTH_DATE
	        , EDUCATION
	        , ADDRESS
	        , ZIP_CODE
	        , DETAIL_ADD
	        , HIRE_DATE
	        , RETIRE_DATE
	        , SUPER_RIGHT
	        , HR_RIGHT
	        , SP_RIGHT
	        , BOARD_RIGHT
	        , DEPT_RIGHT
	        , PROFILE_URL
	        , SIGN_URL
	        , DAYOFF
	        , SECONDARY_CODE
	        , SECONDARY_USESE
	        , RANK_BCODE
	        , RANK_SCODE
	        , REG_DATE
	        , MOD_DATE
	        , REG_ID
	        , MOD_ID
	        , DEL_YN
	        , GENDER
	    ) VALUES ( 
	         #{userId}
	        , #{deptCode}
	        , #{userPwd}
	        , #{userName}
	        , #{phone}
	        , TO_DATE(#{birthDate}, 'YYYY-MM-DD')
	        , #{education}
	        , #{address}
	        , #{zipCode}
	        , #{detailAdd}
	        , TO_DATE(#{hireDate}, 'YYYY-MM-DD')
	        , NULL
	        , #{superRight}
	        , #{hrRight}
	        , #{spRight}
	        , #{boardRight}
	        , #{deptRight}
	        , NULL
	        , NULL
	        , 12
	        , 'N'
	        , 'N'
	        , '007-'
	        , #{rankScode}
	        , SYSDATE
	        , SYSDATE
	        , #{regId}
	        , #{modId}
	        , 'N'
	        , #{gender}
	    )
	</insert>
	
	<select id="checkId" resultType="int">
    SELECT COUNT(*) AS count
    	FROM tb_member
    	WHERE user_Id = #{checkId} 
	</select>
	
	<select id="selectDatailMember" resultMap="memberResult">
		SELECT 
	    M.USER_ID,
	    M.USER_PWD,
      M.DEPT_CODE,
	    D.DEPT_TITLE DEPT_NAME,
	    c.sub_name position,
	    c.sub_code,
	    M.USER_NAME,
	    M.PHONE,
	    TO_CHAR(M.BIRTH_DATE,'YYYY-MM-DD') as BIRTH_DATE,
	    M.EDUCATION,
	    M.ADDRESS,
	    M.ZIP_CODE,
	    M.DETAIL_ADD,
	    TO_CHAR(M.HIRE_DATE,'YYYY-MM-DD') HIRE_DATE,
	    TO_CHAR( M.RETIRE_DATE,'YYYY-MM-DD') as RETIRE_DATE,
	    M.SUPER_RIGHT,
	    M.HR_RIGHT,
	    M.SP_RIGHT,
	    M.BOARD_RIGHT,
	    M.DEPT_RIGHT,
	    M.DAYOFF,
	    M.SECONDARY_CODE,
	    M.SECONDARY_USESE,
	    M.RANK_BCODE,
	    M.REG_DATE,
	    M.MOD_DATE,
	    M.REG_ID,
	    M.MOD_ID,
	    M.DEL_YN,
	    M.GENDER,
	    TRUNC(months_between(SYSDATE,M.HIRE_DATE) /12) as SERVICEYEAR
	FROM 
	    TB_MEMBER M
	JOIN 
	    TB_COMMON C ON M.RANK_BCODE = C.MAIN_CODE AND M.RANK_SCODE = C.SUB_CODE
	JOIN 
	    tb_dept D ON M.DEPT_CODE = D.dept_code
    where user_id = #{id}    
	
	
	</select>
	
	<update id="updateInfoMember">
		UPDATE TB_MEMBER 
			SET 
			    DEPT_CODE = #{deptCode},
			    USER_NAME = #{userName},
			    PHONE = #{phone},
			    BIRTH_DATE = TO_DATE(#{birthDate}, 'YYYY-MM-DD'),
			    EDUCATION = #{education},
			    ADDRESS = #{address},
			    ZIP_CODE = #{zipCode},
			    DETAIL_ADD = #{detailAdd},
			    HIRE_DATE = TO_DATE(#{hireDate}, 'YYYY-MM-DD'),
			    SUPER_RIGHT = #{superRight},
			    HR_RIGHT = #{hrRight},
			    SP_RIGHT = #{spRight},
			    BOARD_RIGHT = #{boardRight},
			    DEPT_RIGHT = #{deptRight},
			    RANK_SCODE = #{rankScode},
			    MOD_DATE = SYSDATE,
			    MOD_ID = #{modId},
			    GENDER = #{gender},
			    DAYOFF = #{dayOff}
			WHERE 
			    USER_ID = #{userId}
	</update>
	
	<update id="resetPasswoard">
	UPDATE TB_MEMBER 
	SET
		USER_PWD = #{userPwd} 
		WHERE USER_ID = #{userId}
	</update>
	
	<update id="goRetire">
	UPDATE TB_MEMBER 
	SET
		 RETIRE_DATE = SYSDATE
		,DEL_YN = 'Y' 
		WHERE USER_ID = #{userId}
	</update>
	
	<update id="goJoinPathy">
	UPDATE TB_MEMBER 
	SET
		 HIRE_DATE = SYSDATE
		,DEL_YN = 'N'
		WHERE USER_ID = #{userId}
	</update>
	
	<!-- JS조직도 조회 쿼리 -->
	<select id="selectApprLine" resultMap="deptDtoResult">
		SELECT 
         D.DEPT_CODE       
       , D.DEPT_TITLE 
       , M.USER_NAME 
       , C.SUB_NAME 
       , M.USER_ID
      FROM 
          TB_MEMBER M
      JOIN 
          TB_DEPT D ON M.DEPT_CODE = D.DEPT_CODE
      LEFT JOIN 
          TB_COMMON C ON M.RANK_BCODE = C.MAIN_CODE AND M.RANK_SCODE = C.SUB_CODE
      JOIN
        TB_COMMON C ON (C.MAIN_CODE = M.RANK_BCODE AND C.SUB_CODE = M.RANK_SCODE)
      WHERE 
          M.DEL_YN = 'N'
      ORDER BY D.DEPT_CODE
   </select>   
	<insert id="insertDept">
		INSERT INTO tb_dept(
     DEPT_CODE
    ,DEPT_TITLE
    ,REG_DATE
    ,MOD_DATE
    ,REG_ID
    ,MOD_ID
    ,DEL_YN 
		)
		VALUES
		(
		 #{deptCode}
		,#{deptTitle}
	  ,SYSDATE
	  ,SYSDATE
	  ,#{regId}
	  ,#{modId}
	  ,'N'
		)
	</insert>
	<!-- 부서 추가시 카테고리 추가 -->
	
	<insert id="insertCategory">
	INSERT INTO tb_category(
     BOARD_CATEGORY
    ,CATEGORY_NAME
    ,DEPT_CODE
    ,CATEGORY_TYPE
    ,REG_DATE
    ,MOD_DATE
    ,REG_ID
    ,MOD_ID
    ,DEL_YN 
		)VALUES(
		 'CATEGORY-'|| seq_categoryno.nextval
		 ,#{categoryName}
		 ,#{deptCode}
		 ,#{categoryType}
		 ,SYSDATE
		 ,SYSDATE
		 ,#{regId}
		 ,#{modId}
		 ,'N'
		)
	
	</insert>

	
	
	<update id="updateDeptTable">
	  UPDATE tb_dept
    	SET 
         DEPT_TITLE = #{deptTitle}
       , MOD_DATE = SYSDATE
       , MOD_ID = #{modId}
     
    WHERE DEPT_CODE = #{deptCode}
	</update>
	
	<update id="updateDept">
	UPDATE tb_category
    SET 
		     CATEGORY_NAME = #{categoryName}
		    ,CATEGORY_TYPE = #{categoryType}
		    ,MOD_DATE = SYSDATE
		    ,MOD_ID =  #{modId}
		WHERE DEPT_CODE = #{deptCode}  

	</update>
	
	<update id="deleteDept">
	UPDATE tb_category
    SET 
		 	 DEL_YN = 'Y'
		 	,MOD_ID =  #{modId}
		WHERE DEPT_CODE = #{deptCode}  

	</update>
	
	<update id="DeleteDeptTable">
	  UPDATE tb_dept
    	SET 
     	  DEL_YN = 'Y'
     	 ,MOD_ID =  #{modId}	
    WHERE DEPT_CODE = #{deptCode}
	</update>
	
	<select id="checkCode" resultType="int">
     SELECT COUNT(*) AS count
    	FROM tb_dept
    	WHERE dept_code = #{deptCode}
	</select>
	
	
</mapper>
	